/*  */
*,
*::before,
*::after {
    box-sizing: inherit;
}
html, body {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    box-sizing: border-box;
    position: relative;
    background: white;
    color: black;
    height: 100%;
    width: 100%;
    text-align: center;
}
.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.inner {
    text-align: center;
    padding: 10px 10px;
    margin: 0 10px;
    border: .5px solid goldenrod;
    /* height: 2em; */
}

/* CSS GRID STARTER */
/* .container {
    display: grid;
    grid-template-columns: repeat(3, 200px [col-start]);
    grid-template-rows: 100% 50px auto;
} */

/* LAST CHILD TAKES REMAINING SPACE */
.container {
    text-align: center;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 10px auto;
    width: auto;
}
  
/* .container > div:last-child {
    background-color: tomato;
    flex: 1;
} */

/* BUTTON WITH BORDER ANIMATION */
.button {
    background-color: #c47135;
    border: none;
    color: #ffffff;
    outline: none;
    padding: 12px 40px 10px;
    position: relative;
}
.button:before, .button:after {
    border: 0 solid transparent;
    transition: all .5s;
    content: '';
    height: 24px;
    position: absolute;
    width: 24px;
}
.button:before {
    border-top: 2px solid #c47135;
    left: 0px;
    top: -5px;
}
.button:after {
    border-bottom: 2px solid #c47135;
    bottom: -5px;
    right: 0px;
}
.button:hover {
    background-color: #c47135;
}
.button:hover:before, .button:hover:after {
    height: 100%;
    width: 100%;
}

/* DYNAMIC SHADOW */
.dynamic-shadow {
    position: relative;
    background: linear-gradient(75deg, #6d78ff, #00ffb8);
    z-index: 1;
}
.dynamic-shadow::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background: inherit;
    top: 0.2em;
    left: 0.2em;
    filter: blur(0.4rem);
    opacity: 0.7;
    z-index: -1;
}

/* GRADIENT TEXT */
.gradient-text {
    font-size: 3em;
    background: -webkit-linear-gradient(white, goldenrod);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

/* HOVER REVEAL TRIGGER  -- include JS */
.tail {
    margin-top: 25px;
    font-size: 2em;
    transition: max-height, opacity 1s;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    background-color: white;
}

.trigger:hover > .tail {
    max-height: var(--max-height);
    opacity: 1;
}

/* BOUNCING LOADER */
@keyframes bouncing-loader {
    to {
        opacity: 0.1;
        transform: translate3d(0, -1rem, 0);
    }
}
.bouncing-loader {
    display: flex;
    justify-content: center;
}
.bouncing-loader > div {
    width: 1rem;
    height: 1rem;
    margin: 3rem 0.2rem;
    background: #8385aa;
    border-radius: 50%;
    animation: bouncing-loader 0.6s infinite alternate;
}
.bouncing-loader > div:nth-child(2) {
    animation-delay: 0.2s;
}
.bouncing-loader > div:nth-child(3) {
    animation-delay: 0.4s;
}

/* POPOUT MENU */
.reference {
    position: relative;
    background: tomato;
    width: 100px;
    height: 100px;
}
.popout-menu {
    position: absolute;
    visibility: hidden;
    left: 100%;
    background: #333;
    color: white;
    padding: 15px;
}
.popout-menu ul {
    list-style-type: none;
}
.reference:hover > .popout-menu,
.reference:focus > .popout-menu,
.reference:focus-within > .popout-menu {
    visibility: visible;
}

/* TRUNCATE TEXT MULTILINE */
.truncate-text-multiline {
    overflow: hidden;
    display: block;
    height: 109.2px;
    margin: 0 auto;
    font-size: 26px;
    line-height: 1.4;
    width: 400px;
    position: relative;
    background-color: black;
}  
.truncate-text-multiline:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 150px;
    height: 36.4px;
    background: linear-gradient(to right, rgba(0, 0, 0, 0), #ffffff 50%);
}

/* SHAPE SEPARATOR */
.shape-separator {
    position: relative;
    height: 48px;
    background: #333;
}
  .shape-separator::after {
    content: '';
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 12'%3E%3Cpath d='m12 0l12 12h-24z' fill='%23fff'/%3E%3C/svg%3E");
    position: absolute;
    width: 100%;
    height: 12px;
    bottom: 0;
}

/* MOUSE CURSOR GRADIENT TRACKING */
.mouse-cursor-gradient-tracking {
    position: relative;
    background: #7983ff;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    border: none;
    color: white;
    cursor: pointer;
    outline: none;
    overflow: hidden;
}  
.mouse-cursor-gradient-tracking span {
    position: relative;
}  
.mouse-cursor-gradient-tracking::before {
    --size: 0;
    content: '';
    position: absolute;
    left: var(--x);
    top: var(--y);
    width: var(--size);
    height: var(--size);
    background: radial-gradient(circle closest-side, pink, transparent);
    transform: translate(-50%, -50%);
    transition: width 0.2s ease, height 0.2s ease;
}
.mouse-cursor-gradient-tracking:hover::before {
    --size: 200px;
}

/* BOX HOVER ANIMATION */
.hover-shadow-box-animation {
    display: inline-block;
    vertical-align: middle;
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    margin: 10px;
    transition-duration: 0.3s;
    transition-property: box-shadow, transform;
}
.hover-shadow-box-animation:hover,
.hover-shadow-box-animation:focus,
.hover-shadow-box-animation:active {
    box-shadow: 1px 1px 10px 10px rgba(67, 205, 205, 0.5);
    transform: scale(1.2);
}

/* Box-sizing reset */
.box {
    width: 150px;
    height: 150px;
    padding: 10px;
    background: tomato;
    color: white;
    border: 10px solid red;
    /* padding: 0 1rem; */
    transition: opacity 0.2s;
}
.content-box {
    box-sizing: content-box;
}

/* sibling fade */
.sibling-fade:hover .box:not(:hover) {
    opacity: 0.5;
  }