/*  */
html, body {
    position: relative;
    background: black;
    color: goldenrod;
    height: 100%;
    width: 100%;
    text-align: center;
}
.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.inner {
    text-align: center;
    padding: 10px 10px;
    margin: 0 10px;
    border: .5px solid goldenrod;
    /* height: 2em; */
}

/* CSS GRID STARTER */
.container {
    display: grid;
    grid-column: 200px;
    grid-template-columns: repeat(3, 200px [col-start]);
    grid-template-rows: 100% 50px auto;
}

/* LAST CHILD TAKES REMAINING SPACE */
/* .container {
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
}
  
.container > div:last-child {
    background-color: tomato;
    flex: 1;
} */

/* BUTTON WITH BORDER ANIMATION */
.button {
    background-color: #c47135;
    border: none;
    color: #ffffff;
    outline: none;
    padding: 12px 40px 10px;
    position: relative;
}
.button:before, .button:after {
    border: 0 solid transparent;
    transition: all .5s;
    content: '';
    height: 24px;
    position: absolute;
    width: 24px;
}
.button:before {
    border-top: 2px solid #c47135;
    left: 0px;
    top: -5px;
}
.button:after {
    border-bottom: 2px solid #c47135;
    bottom: -5px;
    right: 0px;
}
.button:hover {
    background-color: #c47135;
}
.button:hover:before, .button:hover:after {
    height: 100%;
    width: 100%;
}

/* DYNAMIC SHADOW */
.dynamic-shadow {
    position: relative;
    background: linear-gradient(75deg, #6d78ff, #00ffb8);
    z-index: 1;
}
.dynamic-shadow::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background: inherit;
    top: 0.2em;
    left: 0.2em;
    filter: blur(0.4rem);
    opacity: 0.7;
    z-index: -1;
}

/* GRADIENT TEXT */
.gradient-text {
    font-size: 3em;
    background: -webkit-linear-gradient(white, goldenrod);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

/* HOVER REVEAL TRIGGER */
.tail {
    margin-top: 25px;
    font-size: 2em;
    transition: max-height, opacity 1s;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
}

.trigger:hover > .tail {
    max-height: var(--max-height);
    opacity: 1;
}
  